@layout('layouts.app')

@section('content')

    <form action="/usuario/guardar" method="POST">

        <div class="form-label-group">
            <input type="Name" id="inputName" class="form-control" placeholder="Name" required autofocus>
            <label for="inputName">Name</label>
        </div>

        <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputEmail">Email address</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Confirm Password</label>
        </div>
        
        <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Crear Cuenta</button>
    
    </form>

@endsection
